<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  #profile-image {
    width: 160px;
    border-radius: 20px;
  }
  .achievement-image {
    width: 24px;
  }
</style>
<header>
  <div>
    <%- include('./search.ejs') %>
  </div>
  <h3>Profile</h3>
  <p>created at: <%= createdAt %></p>
  <div><img src="<%= user.image_url %>" alt="<%= user.login %> image" id="profile-image"></div>
  <dl>
    <dt>name</dt>
    <dd><a href="https://profile.intra.42.fr/users/<%= user.login %>" target="_blank"><%= user.displayname %></a></dd>
    <dt>login</dt>
    <dd><%= user.login %></dd>

    <dt>correction point</dt>
    <dd><%= user.correction_point %></dd>
    <dt>wallet</dt>
    <dd><%= user.wallet %></dd>
  </dl>
  <h3>Cursus</h3>
  <dl>
    <% user.cursus_users.forEach(cuser => { %>
      <dt>grade</dt>
      <dd><%= cuser.grade %></dd>
      <dt>level</dt>
      <dd><%= cuser.level %></dd>
      <dt>blackholed at</dt>
      <dd><%= cuser.blackholed_at ? dayjs(cuser.blackholed_at).format('YYYY/MM/DD HH:mm:ss') : '' %></dd>
    <% }); %>
  </dl>
  <h3>Projects</h3>
  <dl>
    <% user.projects_users.forEach(item => { %>
      <dt>project</dt>
      <dd><%= item.project.name %></dd>
      <dt>marked_at</dt>
      <dd><%= dayjs(item.marked_at).format('YYYY/MM/DD HH:mm:ss') %></dd>
    <% }); %>
  </dl>
  <h3>Achievements</h3>
  <dl>
    <% user.achievements.forEach(item => { %>
      <dt>name</dt>
      <dd>
        <%= item.name %>
        <span>
          <img src="https://cdn.intra.42.fr<%= item.image.substring(8)%>" class="achievement-image">
        </span>
      </dd>
      <dt>description</dt>
      <dd><%= item.description %></dd>
    <% }); %>
  </dl>
  <dl>
    <dt>staff</dt>
    <dd><%= user['staff?'] %></dd>
  </dl>
</header>
<pre>
  <%= JSON.stringify(user, null, 2) %>
</pre>
