<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='stylesheet' href='/stylesheets/style.css' />
<header>
  <div>
    <%- include('./search.ejs') %>
  </div>
  <p class="meta">
    info at: <%= updatedAt %>
    <button id="update">update</button>
  </p>
  <p>
    <%= coalition.name %>
  </p>
  <img id="coalition" src="<%= coalition.cover_url %>"/>
  <h3>Profile</h3>
  <div><img src="<%= user.image_small %>" alt="<%= user.login %> image" id="profile-image"></div>
  <dl>
    <dt>name</dt>
    <dd><a href="https://profile.intra.42.fr/users/<%= user.login %>" target="_blank"><%= user.displayname %></a></dd>
    <dt>login</dt>
    <dd><%= user.login %></dd>

    <dt>correction point</dt>
    <dd><%= user.correction_point %></dd>
    <dt>wallet</dt>
    <dd><%= user.wallet %></dd>
  </dl>
  <h3>Cursus</h3>
  <dl>
    <% user.cursus_users.forEach(cuser => { %>
      <dt>grade</dt>
      <dd><%= cuser.grade %></dd>
      <dt>level</dt>
      <dd><%= cuser.level %></dd>
      <dt>blackholed at</dt>
      <dd><%= DateUtils.format(cuser.blackholed_at, 'YYYY/MM/DD HH:mm:ss') %></dd>
    <% }); %>
  </dl>
  <h3>Projects</h3>
  <table>
    <tbody>
      <tr>
        <th class="project">project</th>
        <th class="marked">marked_at</th>
        <th class="hourdiff">hour diff</th>
      </tr>
      <% user.projects_users.forEach(item => { %>
        <tr>
          <td class="project"><%= item.project.name %></td>
          <td class="marked"><%= DateUtils.format(item.marked_at, 'YYYY/MM/DD HH:mm:ss') %></td>
          <td class="hourdiff">
            <div class="diff"><%= item.diff %></div>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <h3>Achievements</h3>
  <table>
    <tr>
      <th>name</th>
      <th>description</th>
    </tr>
    <% user.achievements.forEach(item => { %>
      <tr>
        <td>
          <span>
            <img src="https://cdn.intra.42.fr<%= item.image.substring(8)%>" class="achievement-image">
          </span>
          <%= item.name %>
        </td>
        <td><p title="<%= item.description %>"><%= TransUtils.toEnglish(item.description) %></p></td>
      </tr>
    <% }); %>
  </table>
  <dl>
    <dt>staff</dt>
    <dd><%= user['staff?'] %></dd>
  </dl>
</header>
<pre class="raw">
  <%= JSON.stringify(user, null, 2) %>
</pre>
<script>
  const updBtn = document.getElementById('update');
  updBtn.addEventListener('click', function(e){
    var qs = location.search;
    var url = location.pathname;
    var info = qs.match(/(\?u=[\w-]*)&*/);
    if (info.length > 1) {
      url += info[1] + '&r=' + Date.now();
      location.href = url;
    }
  });
  const list = document.querySelectorAll('.diff');
  list.forEach(item => {
    var diff = Number(item.innerText) / 8;
    item.style = 'font-size: x-small; background-color: #00babc; height: 10px; width: ' + diff + 'px;';
  });
  const coalition = document.getElementById('coalition');
  coalition.style = 'height: 300px; width: 600px;';
</script>
