<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>List</title>
</head>

<body>
  <table>
  <% list.forEach((user, idx)=> { %>
    <tr>
      <td>
        <a href="/users?u=<%= user.username %>">
          <%= user.username %>
        </a>
      </td>
      <td title="<%= user.blackhole %>" class="toblack">
        <%= user.toBlack %>
      </td>
      <td title="<%= user.generation %>" class="group">
        <%= user.group %>
      </td>
    </tr>
  <% }); %>
  </td>
  </body>

</html>
